<center>
  <h1>Create A Puppy</h1>
  <form action='/puppy' method='post'>
    <input type='text' name="name" placeholder='name'>
    <input type='text' name="age" placeholder='age'>
    <input type='text' name="breed" placeholder='breed'>
    <input type='submit' value='save pup'>
  </form>
</center>
